<div class="btn-group">
	<button class="btn btn-lg {{getCssClasses(game, 1, canDraw)}}"
			ng-disabled="game.hasStarted"
			ng-click="pickHome()">
		{{game.home}}
	</button>
	<button class="btn btn-lg {{getCssClasses(game, 3, canDraw)}}"
			ng-disabled="!canDraw || game.hasStarted"
			ng-click="pickDraw()">
		Draw<br />{{getScore(game)}}
	</button>
	<button class="btn btn-lg {{getCssClasses(game, 2, canDraw)}}"
			ng-disabled="game.hasStarted"
			ng-click="pickAway()">
		{{game.away}}
	</button>
</div>